<section class="login-signup">
<h1>CLINCH</h1>
<h2>Let's finally decide where to go!</h2>
<div class="form">
<form action="/auth/login" method="POST" id="form-container">
<label for="username">Username
  <input id="username" type="text" name="username" placeholder="username">
</label>
 

<label for="password">Password
  <input id="password" type="password" name="password" placeholder="password">

</label>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <button class="button blue-back">Log In</button>
</form>
<a href="/auth/signup">Not a member yet? <span class="blue">Sign Up</span>  here</a>
</div>

</section>