{{#each data}}
<div class="groupDescription">
    
  <h2><a href="/group/{{_id}}">{{name}}</a></h2>
  <img src="{{image}}" alt="">

  <p>{{dateEvent}}</p>
</div>
{{/each}}
<br><br>
<a href="/group/new">Crear Evento</a> 
<br><br>
<a href="/auth/logout">Logout</a>