<section class="login-signup">
<h1>CLINCH</h1>
<h2>Let's finally decide where to go!</h2>
<div class="form">
<form action="/auth/signup" method="POST" >
<label for="username">Username
  <input id="username" type="text" name="username" placeholder="username">
</label>
 <label for="email">Email
  <input id="email" type="text" name="email" placeholder="email">
</label>
<label for="password">Password
  <input id="password" type="password" name="password" placeholder="password">
</label>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}


  <button class="button blue-back">Sign Up</button>


  

</form>
<a href="/auth/login">Already registered? <span class="blue">Log In</span> Here</a>
</div>

</section>