<form action="/group/:id" method="POST" id="form-container">

    <input id="name" type="text" name="name" placeholder="Plan name">
    <br><br>
    <input id="description" type="text" name="description" placeholder="Description">
    <br><br>
    <input type="photo" src="" alt="Submit">
    <br><br>
    <input id="address" type="text" name="address" placeholder="Address">
    <br><br>
    <input id="direction" type="text" name="direction" placeholder="Direction">
    <br><br>
    <input id="coordinates" type="text" name="coordinates" placeholder="Coordinates">
    <br><br>
    <input id="owner" type="text" name="owner" placeholder="Owner">
    <br><br>











    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>
</form>