<div>
  <form action="/group/new" method="POST">
    <label for="name">What's the occation?
      <input id="name" type="text" name="name" placeholder="What's the occasion?">
    </label>
    <br><br>

    <select name="image" id="pic">
      <option>Pick a theme</option>
      <option value="https://res.cloudinary.com/flor-i-ronhack/image/upload/v1574875141/clinch/birthday-party.jpg">
        Birthday</option>
      <option value="https://res.cloudinary.com/flor-i-ronhack/image/upload/v1574875142/clinch/brunch.jpg">Brunch</option>
      <option value="https://res.cloudinary.com/flor-i-ronhack/image/upload/v1574875141/clinch/cocktails.jpg">Drinks</option>
      <option value="https://res.cloudinary.com/flor-i-ronhack/image/upload/v1574875140/clinch/lunch.jpg">Lunch</option>
      <option value="https://res.cloudinary.com/flor-i-ronhack/image/upload/v1574875140/clinch/vacations.jpg">Vacations
      </option>
    </select>
    <br><br>

    <label for="dateEvent"> When's happening</p>
      <input type="text" name="dateEvent" placeholder="DD-MM-YYYY" required
        pattern="(?:(?:0[13578]|1[02])-31))|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])"
        title="DD-MM-YYYY" />
    </label>
    <br><br>

    <label for="">Votes up to
      <input type="text" name="dateLimit" placeholder="DD-MM-YYYY" required
        pattern="(?:(?:0[13578]|1[02])-31))|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])"
        title="DD-MM-YYYY" />
    </label>
    <br><br>

<label for="users">Who's going?</label>
    <select name="users" id="users" multiple>
      <option selected disabled>Including yourself!</option>
      {{#each users}}
      <option value="{{_id}}">{{username}}</option>
      {{/each}}
    </select>
    <br><br>

    <button>Create</button>
    <input id="owner" type="text" name="owner" value="{{owner._id}}" hidden>
  </form>
</div>