<option>Select An Image</option>
    <option value="birthday-party.jpg" data-style="background-image: url('../../public/images/birthday-party.jpg');"></option>
    <option value="brunch.jpg" data-style="background-image: url('../../public/images/brunch.jpg');"></option>
    <option value="drinks.jpg" data-style="background-image: url('../../public/images/drinks.jpg');"></option>
    <option value="lunch.jpg" data-style="background-image: url('../../public/images/lunch.jpg');"></option>
    <option value="vacations.jpg" data-style="background-image: url('../../public/images/vacations.jpg');"></option>
  </select>