<div>
  <form action="/group/new" method="POST">
    <input id="name" type="text" name="name" placeholder="What kind of plan do you have in mind?">

    <br>
    <p>Cuando propones hacerlo?</p> <input id='dateEvent' type="date" value="">
    <p>Se vota hasta</p><input id='dateLimit' type="date" value="">

    <button>Crear</button>
  </form>
</div>