<form action="/planDetails" method="POST" id="form-container">

    <input id="name" type="text" name="name" placeholder="Plan name">
    <br><br>
    <input id="description" type="text" name="password" placeholder="Description plan">
    <br>
    <input id="Direction" type="text" name="direction" placeholder="Direction">
    <br>
    creador??????
    votos????????
    mapa?????????

    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>
</form>